// Put any @imports here
// See Readme for a list of supported ones

@import "font-awesome";
@import "extras/flash";
@import "extras/nutrition";
@import "extras/fonts";

// Colors
$orange: #f15b36;
$grey: #41494d;
$green: #5ac15e;

// Loading Bar
@import "extras/loading";
#loading-bar .bar { background: $green; height: 5px; }
#loading-bar .peg { box-shadow: darken($green, 20%) 1px 0 6px 1px; top: 3px; }
#loading-bar-spinner { top: 93%; }
#loading-bar-spinner .spinner-icon { border-top-color: $green; border-left-color: $green; width: 25px; height: 25px; }

@import 'helpers/variables';

$color-primary: $grey;
$color-secondary: $orange;

@import 'bootstrap';

// Custom Additional Styles
.commodity-list a {
  text-transform: capitalize;
  background: $grey;
  color: white;
  padding: 5px 8px;
  border-radius: 4px;
  margin-right: 6px;
}
.brands-list {
  overflow: hidden;
  a {
    float: left;
    width: 31%;
    font-size: 15px;
    margin-right: 2%;
  }
}
.non-centered { text-align: left !important; }
.commodity-warning {
  padding: 15px;
  font-style: italic;
}
