// Put any @imports here
// See Readme for a list of supported ones

@import "font-awesome";

@import "foundation";   
@include foundation-everything;

@import "flash";

// Colors
$orange: #f15b36;
$grey: #41494d;

// Elements
body { color: $grey; }
.button, .button:hover, .button:focus { background: $orange; }
a { color: $orange; }
a:hover, a.focus { color: lighten($orange, 20%); }
.full-width { width: 100%; }
.align-right { text-align: right; }

h1.name { color: $orange; }
.top-bar li > a, .top-bar ul li > a { color: #2199e8; }
.top-border { border-top: 1px solid lighten($grey, 50%); padding-top: 15px; }
.top-pad { padding-top: 15px; }

// Breadcrumb Container
.breadcrumb-container {
  margin-top: 35px;
  .breadcrumbs {
    margin-bottom: 0;
    a { color: $orange; }
  }
}


// Search
.search-form {
  position: relative;
  .search-icon {
    position: absolute;
    top: 12px;
    right: 45px;
  }
  input { width: 100%; }
}
.results {
}
.image-pop {
  img {
    height: 300px;
  }
}


// Single Page
.item-page img { border-radius: 3px; }
.single-title {
  background: $grey;
  color: white;
  padding: 0 0 0 14px;
  border-radius: 3px;
  margin-bottom: 15px;
}
.item-meta {
  margin-left: 0;
  margin-top: 10px;
  li {
    list-style: none;
    background: $grey;
    border-radius: 3px;
    color: white;
    padding: 12px 20px;
    border-bottom: 1px solid white;
  }
  i {
    margin-right: 5px;
  }
}
.item-page {
  tbody tr:nth-child(even) { background: none; }
  tbody tr { border-bottom: 1px solid #f1f1f1; }
}

// Footer 
footer {
  border-top: 1px solid lighten($grey, 50%);
  padding: 10px 0 0 0;
  margin-top: 25px;
  margin-bottom: 75px;
  h6 { font-size: 12px; }
}

// Layout
.pageContent { padding: 0 0 10px 0; }
.flash-message-container { margin: 15px 0; }
.logged-in-name { color: white; margin-right: 10px; }

.menu .top-nav li {
  padding: 0 5px;
  a {
    background-color: lighten($grey, 10%);
    padding: 3px 8px 5px 8px;
    border-radius: 3px;
  }
}
.menu {
  background-color: $grey;
  padding: 1.5rem 3rem;
  height: auto; }
  .menu .inline-list {
    text-align: center; }
    .menu .inline-list li {
      float: none;
      display: inline-block; }
    .menu .inline-list a {
      color: #fff;
      padding-bottom: 0.5rem; }
      .menu .inline-list a:hover {
        color: $orange; }
    .menu .inline-list .active a {
      color: $orange; }
  .menu .account {
    position: absolute;
    display: none;
    top: 3%;
    right: 3%; }
    .menu .account a, .menu .account i {
      color: #fff; }
  @media only screen and (min-width: 40.063em) {
    .menu {
      height: 5rem; }
      .menu .inline-list {
        float: left;
        margin: 1px 0 0 1.5rem; }
      .menu a:hover {
        border-bottom: 2px solid $orange; } }
  .menu .account-action {
    float: right;
    margin: 0 0 0 0; }
    .menu .account-action li {
      margin-left: .2rem; }
    .menu .account-action a {
      padding: 8px 15px 11px 15px; }
    .menu .account-action a.signup {
      font-weight: bold;
      background-color: lighten($grey, 10%);
      border-radius: 3px; }

.name {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1;
  margin: 0 0 1rem 0;
  color: #fff; 
  a:hover {
    border-bottom: none;
  }
}
  .name i {
    color: $orange;
    margin-right: 0.5rem; }
  @media only screen and (min-width: 40.063em) {
    .name {
      float: left; } }

@media only screen and (max-width: 639px) {
  .menu .account { display: block; }
}

.home-blocks {
  .item-wrapper {
    padding: 20px;
    border: 2px solid #efefef;
    border-radius: 7px;
    margin-top: 10px;
  }

  .img-wrapper {
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
  }

  h3 {
    font-size: 22px;
  }

  p {
    color: #888;
    font-size: 13px;
    margin-bottom: 0;
  }

}

// Listing Table
.listing-table {
}
.meta {
  vertical-align: middle;
  text-align: right; 
  font-size: 13px;
  font-style: italic;
}
.pagination a { 
  background: lighten($grey, 10%); 
  color: white;
  &:hover {
    background: $grey;
  }
}