// Put any @imports here
// See Readme for a list of supported ones

@import "font-awesome";

@import "foundation";   
@include foundation-everything;

@import "flash";

// Colors
$orange: #f15b36;
$grey: #41494d;

// Elements
body { color: $grey; }
small { font-size: 12px; font-style: italic; margin: 10px 0; display: block; }
.smaller { font-size: 11px; }
.button, .button:hover, .button:focus { background: $orange; border-radius: 3px; }
.button.grey { background-color: $grey; }
a { color: $orange; }
a:hover, a:focus { color: lighten($orange, 20%); }
.full-width { width: 100%; }
.align-right { text-align: right; }

h1.name { 
  color: $orange;
  span {
    color: white;
    font-size: 12px;
    font-style: italic;
    vertical-align: middle;
    padding-left: 5px;
  }
}
.top-bar li > a, .top-bar ul li > a { color: #2199e8; }
.top-border { border-top: 1px solid lighten($grey, 50%); padding-top: 15px; }
.top-pad { padding-top: 15px; }
.bottom-pad { padding-bottom: 15px; }
.bc-cont { margin-bottom: 25px; }

// Spinner
.fa-spinner {
  animation: spin 1s linear infinite;
  margin-right: 5px;
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

// Breadcrumb Container
.breadcrumb-container {
  margin-top: 35px;
  .breadcrumbs {
    margin-bottom: 0;
    a { color: $orange; }
  }
}


// Search
.search-form {
  position: relative;
  .search-icon {
    position: absolute;
    top: 12px;
    right: 45px;
  }
  input { width: 100%; }
}
.row.result-block {
  padding-top: 20px;  
  background-color: lighten($grey, 70%);
  margin: 0 0 10px 0;
  width: 97%;
  border-radius: 3px;
  box-shadow: 4px 6px 8px -4px rgba(153,153,153,1);
}
.result-count {
  padding: 0 40px 8px 0;
  font-style: italic;
  text-align: right;
}
.image-pop {
  img {
    height: 300px;
  }
}
.cName {
  text-transform: capitalize;
}


// Single Page
.item-page img { border-radius: 3px; }
.single-title {
  background: $grey;
  color: white;
  padding: 0 0 0 14px;
  border-radius: 3px;
  margin-bottom: 15px;
  position: relative;
  span.type {
    position: absolute;
    color: lighten($grey, 20%);
    right: 20px;
    top: 14px;
    font-size: 25px;
    font-style: italic;
  }
}
.item-meta {
  margin-left: 0;
  margin-top: 10px;
  li {
    list-style: none;
    background: $grey;
    border-radius: 3px;
    color: white;
    padding: 12px 20px;
    border-bottom: 1px solid white;
  }
  i {
    margin-right: 5px;
  }
}
.item-page {
  tbody tr:nth-child(even) { background: none; }
  tbody tr { border-bottom: 1px solid #f1f1f1; }
}
.producer-info { font-style: italic; font-size: 13px; }
.commodities-list {
  padding-top: 20px;
  h6 {
    border-bottom: 1px solid $grey;
    padding-bottom: 8px;
    margin-bottom: 15px;
    font-size: 20px;
  }
  a {
    background-color: $grey;
    color: white;
    border-radius: 3px;
    padding: 3px 8px 5px 8px;
    margin-right: 8px;
    margin-bottom: 5px;
    display: inline-block;
  }
}
.commodity-page {
  .single-title { text-transform: capitalize; }
}

// Pricing Table
.price_card{
  width: 100%;
  border: 2px solid $grey;
  border-radius: 3px;
  overflow: auto;
  .header{
    color: white;
    background: $grey;
    border-bottom: 2px solid $grey;
  }
  .price{
    width: 100%;
    font-size: 60px;
    font-weight: 300;
    display: block;
    text-align: center;
    padding: 30px 0 10px;
  }
  .name{
    float: none;
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    display: block;
    text-align: center;
    padding: 0 0 30px;
  }
  .features{
    list-style: none;
    text-align: center;
    color: rgb(138, 138, 138);
    margin: 0;
    padding: 0;
  }
  .features li{
    margin: 0 35px;
    padding: 20px 15px;
  }
  .features li:not(:last-child){
    border: 1px solid lighten($grey, 10%);
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
  button{
    color: white;
    background: $grey;
    border: 0;
    border-radius: 5px;
    height: 40px;
    width: 200px;
    display: block;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    margin: 20px auto 35px;
    a { color: white; }
  }
}

// Footer 
footer {
  border-top: 1px solid lighten($grey, 50%);
  padding: 10px 0 0 0;
  margin-top: 25px;
  margin-bottom: 75px;
  h6 { font-size: 12px; }
}

// Layout
.pageContent { padding: 0 0 10px 0; }
.flash-message-container { margin: 15px 0; }
.logged-in-name { color: white; margin-right: 10px; }

.menu .top-nav li {
  padding: 0 5px;
  a {
    background-color: lighten($grey, 10%);
    padding: 3px 8px 5px 8px;
    border-radius: 3px;
  }
}
.menu {
  background-color: $grey;
  padding: 1.5rem 3rem;
  height: auto; }
  .menu .inline-list {
    text-align: center; }
    .menu .inline-list li {
      float: none;
      display: inline-block; }
    .menu .inline-list a {
      color: #fff;
      padding-bottom: 0.5rem; }
      .menu .inline-list a:hover {
        color: $orange; }
    .menu .inline-list .active a {
      color: $orange; }
  .menu .account {
    position: absolute;
    display: none;
    top: 3%;
    right: 3%; }
    .menu .account a, .menu .account i {
      color: #fff; }
  @media only screen and (min-width: 40.063em) {
    .menu {
      height: 5rem; }
      .menu .inline-list {
        float: left;
        margin: 1px 0 0 1.5rem; }
      .menu a:hover {
        border-bottom: 2px solid $orange; } }
  .menu .account-action {
    float: right;
    margin: 0 0 0 0; }
    .menu .account-action li {
      margin-left: .2rem; }
    .menu .account-action a {
      padding: 8px 15px 11px 15px; }
    .menu .account-action a.signup {
      font-weight: bold;
      background-color: lighten($grey, 10%);
      border-radius: 3px; }

.name {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1;
  margin: 0 0 1rem 0;
  color: #fff; 
  a:hover {
    border-bottom: none;
  }
}
  .name i {
    color: $orange;
    margin-right: 0.5rem; }
  @media only screen and (min-width: 40.063em) {
    .name {
      float: left; } }

@media only screen and (max-width: 639px) {
  .menu .account { display: block; }
}

.home-blocks {
  .item-wrapper {
    padding: 20px;
    border: 2px solid #efefef;
    border-radius: 7px;
    margin-top: 10px;
  }

  .img-wrapper {
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
  }

  h3 {
    font-size: 22px;
  }

  p {
    color: #888;
    font-size: 13px;
    margin-bottom: 0;
  }

}

// Listing Table
.listing-table {
}
.meta {
  vertical-align: middle;
  text-align: right; 
  font-size: 13px;
  font-style: italic;
}
.pagination a { 
  background: lighten($grey, 10%); 
  color: white;
  &:hover {
    background: $grey;
  }
}

@import "nutrition";