<div class="row item-page">
  <div class="small-12 columns">
    <h1 class="single-title">
      {{ vm.item.name }}
      <span class="type">Producer</span>
    </h1>
  </div>
</div>
<div class="row item-page">
  <div class="small-3 columns">
    <img ng-src="https://static.producebrands.com/db/images/{{ vm.item.logo }}" verify-src>
    <ul class="item-meta">
      <li>
        <a href="/#/producer/{{ vm.item.id }}"><i class="fa fa-ban"></i> Cancel Edit</a>
      </li>
    </ul>
  </div>
  <div class="small-9 columns">
    <h3>Edit</h3>

    <form ng-submit="vm.updateItem(vm.item, 'producer')">
      <label>Producer Name<input type="text" ng-model="vm.item.name"></label>

      <fieldset class="fieldset">
        <legend>Address</legend>
        <label>Street<input type="text" ng-model="vm.item.street"></label>
        <label>City<input type="text" ng-model="vm.item.city"></label>
        <label>State<input type="text" ng-model="vm.item.state"></label>
        <label>Zip<input type="text" ng-model="vm.item.zip"></label>
      </fieldset>

      <fieldset class="fieldset">
        <legend>Contact Information</legend>
        <label>Contact Name<input type="text" ng-model="vm.item.contact"></label>
        <label>Website<input type="text" ng-model="vm.item.website"></label>
        <label>Phone<input type="text" ng-model="vm.item.phone"></label>
        <label>Email<input type="text" ng-model="vm.item.email"></label>
        <label>Fax<input type="text" ng-model="vm.item.fax"></label>
      </fieldset>

      <fieldset class="fieldset">
        <legend>Social Media</legend>
        <label>Facebook<input type="text" ng-model="vm.item.facebook"></label>
        <label>Twitter<input type="text" ng-model="vm.item.twitter"></label>
      </fieldset>

      <fieldset>
        <legend>Is this Producer Traceable</legend>
        <input type="radio" ng-model="vm.item.traceable" value="1" id="traceableYes"><label for="traceableYes">Yes</label>
        <input type="radio" ng-model="vm.item.traceable" value="0" id="traceableNo"><label for="traceableNo">No</label>
      </fieldset>

      <button class="button">Update Producer</button>
    </form>
  </div>
</div>
