<div class="document-title">
  <div class="container">
    <h1>Editing: <strong>{{ vm.item.name }}</strong></h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="company-card">
        <div class="company-card-image">
          <img ng-src="https://static.producebrands.com/db/images/{{ vm.item.logo }}" verify-src>
        </div>
        <div class="company-card-data">
          <dl>
            <dt>Added</dt>
            <dd>{{ vm.item.created_at | moment }}</dd>
          </dl>
        </div>
      </div>

    </div>
    <!-- /.col-* -->
    <div class="col-sm-8">
      <div class="company-header">
        <h1>{{ vm.item.name }} <span>Producer</span></h1>
      </div>
      <form ng-submit="vm.updateItem(vm.item, 'producer')">

        <fieldset class="form-group">
          <legend>Address</legend>
          <label>Street</label><input type="text" class="form-control" ng-model="vm.item.street">
          <label>City</label><input type="text" class="form-control" ng-model="vm.item.city">
          <label>State</label><input type="text" class="form-control" ng-model="vm.item.state">
          <label>Zip</label><input type="text" class="form-control" ng-model="vm.item.zip">
        </fieldset>

        <fieldset class="form-group">
          <legend>Contact Information</legend>
          <label>Contact Name</label><input type="text" class="form-control" ng-model="vm.item.contact">
          <label>Website</label><input type="text" class="form-control" ng-model="vm.item.website">
          <label>Email</label><input type="text" class="form-control" ng-model="vm.item.email">
          <label>Phone</label><input type="text" class="form-control" ng-model="vm.item.phone">
          <label>Fax</label><input type="text" class="form-control" ng-model="vm.item.fax">
        </fieldset>

        <fieldset class="form-group">
          <legend>Social Media</legend>
          <label>Facebook</label><input type="text" class="form-control" ng-model="vm.item.facebook">
          <label>Twitter</label><input type="text" class="form-control" ng-model="vm.item.twitter">
        </fieldset>

        <fieldset class="form-group">
          <legend>Is this Producer Traceable</legend>
          <div class="btn-group">
            <label class="btn btn-default">
              <input type="radio" ng-model="vm.item.traceable" value="1" id="traceableYes">&nbsp; Yes
            </label>
            <label class="btn btn-default">
              <input type="radio" ng-model="vm.item.traceable" value="0" id="traceableNo">&nbsp; No
            </label>
          </div>
        </fieldset>

        <fieldset class="form-group">
          <label>Description</label>
          <textarea class="form-control" ng-model="vm.item.description"></textarea>
        </fieldset>

          <button class="btn btn-secondary">Update Producer</button>
          <a href="/#/brand/{{ vm.item.id }}" class="btn btn-default">Cancel</a>
      </form>
    </div>
  </div>
</div>
