// Put any @imports here
// See Readme for a list of supported ones

@import "font-awesome";
@import "extras/flash";
@import "extras/fonts";

// Colors
$orange: #f15b36;
$grey: #41494d;
$green: #5ac15e;

// Nutrition
@import "extras/nutrition";
.nutritionLabel .name, .servingSizeField { display: none; }

// Loading Bar
@import "extras/loading";
#loading-bar .bar { background: $green; height: 5px; }
#loading-bar .peg { box-shadow: darken($green, 20%) 1px 0 6px 1px; top: 3px; }
#loading-bar-spinner { top: 93%; }
#loading-bar-spinner .spinner-icon { border-top-color: $green; border-left-color: $green; width: 25px; height: 25px; }

@import 'helpers/variables';

$color-primary: $grey;
$color-secondary: $orange;

@import 'bootstrap';

// Custom Additional Styles
.commodity-list a {
  text-transform: capitalize;
  background: $grey;
  color: white;
  padding: 5px 8px;
  border-radius: 4px;
  margin-right: 6px;
  display: inline-block;
  margin-bottom: 6px;
}
.brands-list {
  overflow: hidden;
  a {
    float: left;
    width: 31%;
    font-size: 15px;
    margin-right: 2%;
  }
}
.non-centered { text-align: left !important; }
.centered { text-align: center; }
.commodity-warning {
  padding: 15px;
  font-style: italic;
}
.form-group input[type='text'], .form-group input[type='password'] { margin-bottom: 15px; }
.fix-check { margin-left: 20px !important; }
.select-override { -webkit-appearance: menulist; }

.flash-message-container {
  .alert {
    width: 450px;
    position: fixed;
    z-index: 999999;
    right: 10px;
    top: 22px;
    padding: 15px 24px;
    font-size: 15px;
    margin-bottom: 0;
  }
  .alert-dismissable .close, .alert-dismissible .close { right: -10px; }
}
.bigger {
  font-size: 18px;
  margin-bottom: 35px;
}
.post-box-small a:hover { text-decoration: none; }

.container .filter {
  margin-bottom: 30px;
}

.shareButtons {
  margin-top: -25px;
  text-align: center;
}

.propose {
  background-color: #f15b36;
  color: white;
  padding: 5px 20px;
  border-radius: 3px;
  display: inline-block;
  margin-top: 25px;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

ul.share-buttons{
  list-style: none;
  padding: 0;
  text-align: center;
}

ul.share-buttons li{
  display: inline;
  margin-right: 5px;
}

small.bg-warning {
  margin: 0 0 15px 0;
  display: block;
  padding: 5px;
}

@media (min-width: 768px) {
  .header-nav li { margin: 0px 18px 0px 0px; }
}

.commodity-group {
  label {
    margin-right: 15px;
    width: 165px;
    text-align: left;
    margin: 0 15px 10px 0;
  }
}