<div class="document-title">
  <div class="container">
    <h1>Producers</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <h2 class="page-header">Browsing page <strong>{{ vm.current_page}}</strong> of <strong>{{ vm.pages }}</strong></h2>
      <div class="companies-list">
        <div class="companies-list-item" ng-repeat="item in vm.items">
          <div class="companies-list-item-image">
            <a href="/#/producer/{{ item.id }}">
              <img src="images/leaf.png">
            </a>
          </div>
          <!-- /.companies-list-item-image -->
          <div class="companies-list-item-heading">
            <h2><a href="/#/producer/{{ item.id }}">{{ item.name }}</a></h2>
            <h3>Producer</h3>
          </div>
          <div class="companies-list-item-count" ng-show="item.state">
            <i class="fa fa-map-marker"></i> {{ item.city }}, {{ item.state }}
          </div>
          <div class="companies-list-item-rating">
            <a href="/#/producer/{{ item.id }}">See More</a>
          </div>
        </div>
      </div>
      <!-- /.companies-list -->
      <div class="center">
        <ul class="pagination">
          <li ng-show="vm.prev_page">
            <a href="/#/all/producers?page={{ vm.prev_page }}">
              <i class="fa fa-chevron-left"></i>
            </a>
          </li>
          <li ng-show="vm.next_page">
            <a href="/#/all/producers?page={{ vm.next_page }}">
              <i class="fa fa-chevron-right"></i>
            </a>
          </li>
        </ul>
      </div>
      <!-- /.center -->
    </div>
    <!-- /.col-* -->
    <div class="sidebar col-sm-3">
      <h2>{{ vm.entries | number }} Producers</h2>
      <div class="positions-list-small">
        <div class="positions-list-small-item">
          <h2>Want your company listed?</h2>
          <h3>Submit your company <a href="/#/submit">here</a></h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container -->
