<div class="document-title">
  <div class="container">
    <h1>Company Detail</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="company-card">
        <div class="company-card-image">
          <img ng-src="https://static.producebrands.com/db/images/{{ vm.item.logo }}" verify-src>
        </div>
        <div class="company-card-data">
          <div ng-show="vm.authed">
            <dl ng-show="vm.item.website">
              <dt>Website</dt>
              <dd><a href="{{ vm.item.website | addHTTP }}" target="_blank">{{ vm.item.website}} </a></dd>
            </dl>
            <dl ng-show="vm.item.email">
              <dt>Email</dt>
              <dd><a href="mailto:{{ vm.item.email }}">{{ vm.item.email }}</a></dd>
            </dl>
            <dl ng-show="vm.item.facebook">
              <dt>Facebook</dt>
              <dd><a href="{{ vm.item.facebook }}" target="_blank">Company Facebook</a></dd>
            </dl>
            <dl ng-show="vm.item.twitter">
              <dt>Twitter</dt>
              <dd><a href="{{ vm.item.twitter }}" target="_blank">Company Twitter</a></dd>
            </dl>
          </div>
          <dl>
            <dt>Added</dt>
            <dd>{{ vm.item.created_at | moment }}</dd>
          </dl>
          <dl ng-show="vm.adminUser">
            <dt>Admin</dt>
            <dd><a href="/#/producer/edit/{{ vm.item.id }}"><i class="fa fa-pencil"></i> Edit</a></dd>
          </dl>
        </div>
      </div>

    </div>
    <!-- /.col-* -->
    <div class="col-sm-8">
      <div class="company-header">
        <h1>{{ vm.item.name }} <span>Producer</span></h1>
      </div>
      <div ng-show="vm.authed">
        <h3 class="page-header">Company Profile</h3>
        <p>{{ vm.item.description }}</p>

        <div class="position-general-information">
          <dl ng-show="vm.item.contact">
            <dt>Contact Person</dt>
            <dd>{{ vm.item.contact }}</dd>
          </dl>
          <dl ng-show="vm.item.street">
            <dt>Address</dt>
            <dd>{{ vm.item.street }}</dd>
          </dl>
          <dl ng-show="vm.item.state">
            <dt>City/State</dt>
            <dd>{{ vm.item.city}}, {{ vm.item.state}} {{ vm.item.zip }}</dd>
          </dl>
          <dl ng-show="vm.item.phone">
            <dt>Phone</dt>
            <dd>{{ vm.item.phone }}</dd>
          </dl>
          <dl ng-show="vm.item.fax">
            <dt>Fax</dt>
            <dd>{{ vm.item.fax }}</dd>
          </dl>
          <dl>
            <dt>Traceable</dt>
            <dd>
              <span ng-show="vm.item.traceable">Yes</span>
              <span ng-hide="vm.item.traceable">No</span>
            </dd>
          </dl>
        </div>

        <h3 class="page-header" ng-show="vm.brands">Brands We Work With</h3>
        <div class="positions-list commodity-list" ng-show="vm.brands">
          <a href="/#/brand/{{ b.id }}" ng-repeat="b in vm.brands">{{ b.name }}</a>
        </div>

        <h3 class="page-header" ng-show="vm.commodities">Commodities Grown</h3>
        <div class="positions-list commodity-list" ng-show="vm.commodities">
          <a href="/#/commodity/{{ c.id }}" ng-repeat="c in vm.commodities">{{ c.name }}</a>
        </div>
      </div>
      <div ng-hide="vm.authed" class="show-for-unauth" ng-include="'templates/includes/hidden.tpl.html'"></div>
    </div>
  </div>
</div>
