<div class="document-title">
  <div class="container">
    <h1>Brand Detail</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="company-card">
        <div class="company-card-image">
          <img ng-src="https://static.producebrands.com/db/images/{{ vm.item.image }}" verify-src>
        </div>
        <div class="company-card-data">
          <dl ng-show="vm.producer.name">
            <dt>Producer</dt>
            <dd ng-show="vm.authed">
              <a href="/#/producer/{{ vm.producer.id }}">{{ vm.producer.name }} <i class="fa fa-external-link"></i></a>
            </dd>
            <dd ng-hide="vm.authed">
              <a href="/#/register">Register to see this!</a>
            </dd>
          </dl>
          <dl ng-show="vm.item.country">
            <dt>Country</dt>
            <dd>{{ vm.item.country }}</dd>
          </dl>
          <dl ng-show="vm.item.state">
            <dt>State</dt>
            <dd>{{ vm.item.state }}</dd>
          </dl>
          <dl>
            <dt>Added</dt>
            <dd>{{ vm.item.created_at | moment }}</dd>
          </dl>
          <dl ng-show="vm.adminUser">
            <dt>Admin</dt>
            <dd><a href="/#/brand/edit/{{ vm.item.id }}"><i class="fa fa-pencil"></i> Edit</a></dd>
          </dl>
        </div>
      </div>
      <div class="submitInfo">
        Something not look right? <a href="/#/submit">Submit</a> a change.
      </div>
    </div>
    <!-- /.col-* -->
    <div class="col-sm-8">
      <div class="company-header">
        <h1>{{ vm.item.name }} <span>Brand</span></h1>
      </div>
      <div ng-show="vm.authed">
        <h3 class="page-header">Company Profile</h3>
        <p>{{ vm.item.description }}</p>
        <div class="position-general-information">
          <dl ng-show="vm.item.organic">
            <dt>Organic Brand</dt>
            <dd>Yes</dd>
          </dl>
          <dl ng-show="vm.item.food_safety">
            <dt>Tracks Food Safety</dt>
            <dd>Yes</dd>
          </dl>
        </div>
        <h3 class="page-header" ng-show="vm.commodities">Commodities Grown</h3>
        <div class="positions-list commodity-list" ng-show="vm.commodities">
          <a href="/#/commodity/{{ c.id }}" ng-repeat="c in vm.commodities">{{ c.name }}</a>
        </div>
      </div>
      <div ng-hide="vm.authed" class="show-for-unauth" ng-include="'templates/includes/hidden.tpl.html'"></div>
    </div>
  </div>
</div>
