<div class="row item-page">
  <div class="small-12 columns">
    <h1 class="single-title">{{ vm.item.name }}</h1>
  </div>
</div>
<div class="row item-page">
  <div class="small-3 columns">
    <img ng-src="images/items/{{ vm.item.image }}.jpg">
    <ul class="item-meta">
      <li ng-show="vm.item.country">
        <i class="fa fa-globe"></i> Country: {{ vm.item.country }}
      </li>
      <li ng-show="vm.item.state">
        <i class="fa fa-map-marker"></i> State:  {{ vm.item.state }}
      </li>
      <li>
        <i class="fa fa-clock-o"></i> Added: {{ vm.item.created_at | moment }}
      </li>
    </ul>
  </div>
  <div class="small-9 columns">
    <div class="description">    
      <h5>Description</h5>
      <p>{{ vm.item.description }}</p>
    </div>
    <table class="hover full-width">
      <tbody>
        <tr>
          <td>Food Safety</td>
          <td>
            <i class="fa fa-check-square-o" ng-show="vm.item.food_safety"></i>
            <i class="fa fa-square-o" ng-hide="vm.item.food_safety"></i>
          </td>
        </tr>
        <tr>
          <td>Organic</td>
          <td>
            <i class="fa fa-check-square-o" ng-show="vm.item.organic"></i>
            <i class="fa fa-square-o" ng-hide="vm.item.organic"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- name, country, state, organic, image, description, food_safety, producer_id, updated_at, created_at -->
