<div class="document-title">
  <div class="container">
    <h1>Company Detail</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="company-card">
        <div class="company-card-image">
          <img ng-src="https://static.producebrands.com/db/images/{{ vm.item.logo }}" verify-src>
        </div>
        <div class="company-card-data">
          <dl ng-show="vm.producer.name">
            <dt>Producer</dt>
            <dd><a href="/#/producer/{{ vm.producer.id }}">{{ vm.producer.name }} <i class="fa fa-external-link"></i></a></dd>
          </dl>
          <dl ng-show="vm.item.country">
            <dt>Country</dt>
            <dd>{{ vm.item.country }}</dd>
          </dl>
          <dl ng-show="vm.item.state">
            <dt>State</dt>
            <dd>{{ vm.item.state }}</dd>
          </dl>
          <dl>
            <dt>Added</dt>
            <dd>{{ vm.item.created_at | moment }}</dd>
          </dl>
        </div>
      </div>

    </div>
    <!-- /.col-* -->
    <div class="col-sm-8">
      <div class="company-header">
        <h1>{{ vm.item.name }} <span>Producer</span></h1>
      </div>
      <h3 class="page-header">Company Profile</h3>
      <p>{{ vm.item.description }}</p>
      <div class="company-stats">
        <div class="company-stat">
          <span>Organic Brand</span>
          <strong ng-show="vm.item.organic">Yes</strong>
          <strong ng-hide="vm.item.organic">No</strong>
        </div>
        <div class="company-stat">
          <span>Tracks Food Safety</span>
          <strong ng-show="vm.item.food_safety">Yes</strong>
          <strong ng-hide="vm.item.food_safety">No</strong>
        </div>
      </div>
      <h3 class="page-header" ng-show="vm.commodities">Commodities Grown</h3>
      <div class="positions-list commodity-list" ng-show="vm.commodities">
        <a href="/#/commodity/{{ c.id }}" ng-repeat="c in vm.commodities">{{ c.name }}</a>
      </div>
    </div>
  </div>
</div>
