<div class="bc-cont" ng-include="'templates/includes/breadcrumbs.tpl.html'"></div>
<div class="row item-page commodity-page">
  <div class="small-12 columns">
    <h1 class="single-title">{{ vm.item.name }}</h1>
  </div>
</div>
<div class="row item-page">
  <div class="large-3 columns">
    <img ng-src="http://static.producebrands.com/db/images/{{ vm.item.image }}" verify-src>
    <div nutrition-label name="vm.item.name" nutrition="vm.nutrition"></div>
  </div>
  <div class="large-9 columns">
    <div class="description">
      <blockquote>Please Note: Nutritional values will vary by variety, growing location and method prepared. These are a guideline and more specific information can be found at <a href="http://ndb.nal.usda.gov/" target="_blank">here</a>.</blockquote>   
      <p>{{ vm.item.description }}</p>
      <div class="commodities-list" ng-show="vm.brands">
        <h6>Brands of {{ vm.item.name | capitalize }}</h6>
        <a href="/#/brand/{{ b.id }}" ng-repeat="b in vm.brands">{{ b.name }}</a>
      </div>
    </div>
  </div>
</div>