<form ng-submit="vm.apply(user)">
  <div class="row">
    <div class="large-6 columns large-centered">
      <div class="row column log-in-form">
        <h3 class="bottom-pad top-pad">Apply for an Account</h3>
        <p>If you're here, it means we are still in beta and are limiting the number of users. Fill out the form below and we'll be in touch when we let the next group of users in.</p>
        <input type="text" placeholder="Full Name" ng-model="user.full_name">
        <input type="text" placeholder="Company" ng-model="user.company">
        <textarea cols="30" id="" name="" rows="10" ng-model="user.reason" placeholder="Tell us a little about you and why you want to join."></textarea>
        <p><button class="button expanded">Apply Now</button></p>
      </div>
    </div>
  </div>
</form>
