<h4>Produce Brands Database</h4>

<div class="row top-pad">
  <div class="columns small-12">
    <p>Welcome! Here you will find a listing of all of the brands, commodities and producers that we have cataloged.</p>
    <p>The best way to get started is to view one of the listings below or try out our <a href="/#/search">search</a>.</p>
    <p>Also make sure you check out our <a href="http://producebrands.com">website</a> and sign up for our <a href="http://producebrands.com/newsletter/">newsletter</a>.</p>
  </div>
</div>

<div class="row home-blocks">
  <div class="small-4 columns">
    <a href="/#/all/brands">
      <div class="item-wrapper">
        <h3>Brands</h3>
        <p>Browse through our extensive list of produce brands from all around the world.</p>
      </div> 
    </a> 
  </div>
  <div class="small-4 columns">
    <a href="/#/all/producers">
      <div class="item-wrapper">
        <h3>Producers</h3>
        <p>Already know who produces the food you want to research, click here to browse this section.</p>
      </div>
    </a>
  </div>
  <div class="small-4 columns">
    <a href="/#/all/commodities">
      <div class="item-wrapper">
        <h3>Commodities</h3>
        <p>Want to start with your favorite fruit or vegetable, this is the right place.</p>
      </div>
    </a> 
  </div>
</div>