<div class="row">
  <div class="columns small-12">
    <h1>Welcome to the <br> Produce Brands Database</h1>
    <p>Here you will find our cataloged list of Brands, Producers and Commodities. <br>Currently there are over <b>2,000</b> entries and we are growing every day.</p>
  </div>
</div>
<div class="row column">
  <br>
  <a class="button" href="/#/register">Start Browsing our Database</a>
  <a class="button grey" href="/#/login">Sign In</a>
</div>




<div class="row hide">
  <div class="columns small-centered small-9">
    <div class="columns small-4">
      <div class="price_card">
        <div class="header">
          <span class="price">Free</span>
          <span class="name">Browser</span>
        </div>
        <ul class="features">
          <li>Access to general info</li>
          <li>Ability to save favorites</li>
        </ul>
        <button><a href="/#/register">Sign Up</a></button>
      </div>
    </div>
    <div class="columns small-4">
      <div class="price_card">
        <div class="header">
          <span class="price">$49</span>
          <span class="name">Owner</span>
        </div>
        <ul class="features">
          <li>Access to manage your listing</li>
          <li>Availability to add new listings</li>
        </ul>
        <button><a href="/#/register">Sign Up</a></button>
      </div>
    </div>
    <div class="columns small-4">
      <div class="price_card">
        <div class="header">
          <span class="price">$99</span>
          <span class="name">Partner</span>
        </div>
        <ul class="features">
          <li>Best plan to grow your business</li>
          <li>Contact Us for More info</li>
        </ul>
        <button><a href="/#/register">Sign Up</a></button>
      </div>
    </div>
  </div>
</div>


