<div class="hero-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <h1>Welcome to the Produce Brands Database</h1>
        <h2>Here you will find our cataloged list of Brands, Producers and Commodities. Currently there are over 2,400 entries and we are growing every day.</h2>
        <a href="/#/start" class="hero-content-action">Start Browsing</a>
      </div>
    </div>
  </div>
</div>

<div class="stats">
  <div class="container">
    <div class="row">
      <div class="stat-item col-sm-4" data-to="123012">
        <strong id="stat-item-1">1500+</strong>
        <span>Brands</span>
      </div>
      <div class="stat-item col-sm-4" data-to="187432">
        <strong id="stat-item-2">800+</strong>
        <span>Producers</span>
      </div>
      <div class="stat-item col-sm-4" data-to="140312">
        <strong id="stat-item-3">100+</strong>
        <span>Commodities</span>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="panels-highlighted">
    <div class="row">
      <div class="panel-highlighted-wrapper col-sm-6">
        <div class="panel-highlighted-inner panel-highlighted-secondary">
          <h2>Can't Find Your Company?</h2>
          <p>While we try our best to capture each and every company out there, we are bound to miss some. If you would like your company listed on our site, just let us know.</p>
          <a href="/#/submit" class="btn btn-white">List Your Company</a>
        </div>
      </div>
      <div class="panel-highlighted-wrapper col-sm-6">
        <div class="panel-highlighted-inner panel-highlighted-primary panel">
          <h2>Advertise on Produce Brands</h2>
          <p>Produce Brands is the first ever consumer based website and database. Our goal is to connect growers and consumers. Contact us for advertising opportunities.</p>
          <a href="/#/contact" class="btn btn-white">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</div>
