<div class="top-bar">
  <div class="row">
    <div class="top-bar-left">
      <ul class="menu" ng-hide="vm.user">
        <li class="menu-text"><a href="/#/">Produce Brands</a></li>
        <li><a href="/#/login">Login</a></li>
        <li><a href="/#/register">Register</a></li>
      </ul>
      <ul class="menu" ng-show="vm.user">
        <li class="menu-text">Produce Brands</li>
        <li><a href="/#/logout">Logout</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <form ng-submit="vm.search(query)">
        <ul class="menu">
          <li><input type="search" placeholder="Search" ng-model="query"></li>
          <li><button class="button">Search</button></li>
        </ul>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="medium-12 columns">
    <div class="flash-message-container" flash-message="5000" ></div>
    <div class="pageContent" ui-view></div>
  </div>
</div>

<div class="row column">
  <hr>
  <ul class="menu">
    <li>Produce Brands LLC</li>
  </ul>
</div>