<nav class="menu">
  <h1 class="name"><a href="/#/">Brands Database</a> <span>Beta</span></h1>
  <ul class="inline-list top-nav">
    <li><a href="/#/start">Start</a></li>
    <li><a href="/#/search">Search</a></li>
  </ul>
  <ul class="inline-list hide-for-small-only account-action" ng-hide="vm.user">
    <li><a href="/#/login">Login</a></li>
    <li><a class="signup" href="/#/register">Signup</a></li>
  </ul>
  <ul class="inline-list hide-for-small-only account-action" ng-show="vm.user">
    <li><a href="/#/profile"><i class="fa fa-user"></i> Profile</a></li>
    <li><a class="signup" href="/#/" ng-click="vm.logout()">Logout</a></li>
  </ul>
  <a class="account hide-for-medium-up" href="/#/login"><i class="fi-unlock"></i></a>
</nav>

<div class="row">
  <div class="medium-12 columns ui-view-container">
    <div class="flash-message-container" flash-message="5000" ></div>
    <div class="pageContent" ui-view></div>
  </div>
</div>

<div class="row column">
  <footer>
    <h6>
      Version {{ vm.version }} - 
      &copy; 2015 <a href="http://producebrands.com">Produce Brands</a>. 
      All Rights Reserved
    </h6>
  </footer>
</div>