<div class="header-wrapper">
  <div class="header">
    <div class="header-top">
      <div class="container">
        <div class="header-brand">
          <div class="header-logo">
            <a href="/#/">
              <img src="images/logo.png" alt="Produce Brands" />
            </a>
          </div>
          <div class="header-slogan">
            <span class="header-slogan-text">Database</span>
          </div>
        </div>
        <ul class="header-actions nav nav-pills" ng-hide="vm.user">
          <li><a href="/#/login">Login</a></li>
          <li><a href="/#/register" class="primary">Sign Up</a></li>
        </ul>
        <ul class="header-actions nav nav-pills" ng-show="vm.user">
          <li><a href="/#/profile">Profile</a></li>
          <li><a href="/#/" ng-click="vm.logout()">Log Out</a></li>
        </ul>
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".header-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
    </div>
    <div class="header-bottom">
      <div class="container">
        <ul class="header-nav nav nav-pills collapse">
          <li><a href="/#/all/brands">Brands</a></li>
          <li><a href="/#/all/producers">Producers</a></li>
          <li><a href="/#/all/commodities">Commodities</a></li>
          <li><a href="/#/submit">Submit</a></li>
          <li>
            <a href="#">Account <i class="fa fa-chevron-down"></i></a>
            <ul class="sub-menu" ng-hide="vm.user">
              <li><a href="/#/login">Login</a></li>
              <li><a href="/#/register">Registration</a></li>
            </ul>
            <ul class="sub-menu" ng-show="vm.user">
              <li><a href="/#/profile">Profile</a></li>
              <li><a href="#" ng-click="vm.logout()">Logout</a></li>
            </ul>
          </li>
        </ul>
        <div class="header-search hidden-sm">
          <form ng-submit="vm.searchForm(term)">
            <input type="text" ng-model="term" class="form-control" placeholder="Search ...">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main-wrapper">
  <div class="main" ui-view></div>
</div>

<div class="footer-wrapper">
  <div class="footer">
    <div class="footer-bottom">
      <div class="container">
        <div class="footer-bottom-left">
          &copy; {{ vm.year }} All rights reserved. <a href="http://producebrands.com">Produce Brands LLC</a>
        </div>
        <div class="footer-bottom-right">
          Version: {{ vm.version }}
        </div>
      </div>
    </div>
  </div>
</div>



<!-- // <div class="flash-message-container" flash-message="5000"></div> -->
