<div class="document-title">
  <div class="container">
    <h1>Results for <strong>{{ vm.query }}</strong></h1>
  </div>
</div>


<div class="container">
  <h2 class="page-header"><strong>{{ vm.count }}</strong> results found</h2>
  <div class="row">
    <div class="col-sm-3">
      <div class="filter-stacked">
        <form ng-submit="vm.updateSearch(query)">
          <div class="form-group">
            <input type="text" ng-model="query" class="form-control" placeholder="Search Again...">
          </div>
        </form>
        <i>You can search for any brand or producer. Commodity searching is not ready yet. Also, be aware that there could be multiple brands with the same name, but they might belong to different producers.</i>
      </div>
      <!-- /.filter-stacked -->
    </div>
    <!-- /.col-* -->
    <div class="col-sm-9">
      <div class="positions-list">
        <div class="positions-list-item" ng-repeat="item in vm.results">
          <h2>
            <a href="/#/{{ item.searchable_type | lowercase }}/{{ item.searchable_id }}">{{ item.content }}</a>
          </h2>
          <div class="position-list-item-date"><i>{{ item.searchable_type }}</i></div>
        </div>
      </div>
    </div>
  </div>
</div>
