<div class="document-title">
  <div class="container">
    <h1>Results for <strong>{{ vm.query }}</strong></h1>
  </div>
</div>


<div class="container" ng-show="vm.authed">
  <h2 class="page-header"><strong>{{ vm.count }}</strong> results found</h2>
  <div class="row">
    <div class="col-sm-3">
      <div class="filter-stacked">
        <form ng-submit="vm.updateSearch(query)">
          <div class="form-group">
            <input type="text" ng-model="query" class="form-control" placeholder="Search Again...">
          </div>
        </form>
        <i>Note: You can search for any brand or producer. Commodity searching is not ready yet.</i>
      </div>
      <!-- /.filter-stacked -->
    </div>
    <!-- /.col-* -->
    <div class="col-sm-9">
      <div class="positions-list">
        <div class="positions-list-item" ng-repeat="item in vm.results">
          <h2>
            <a href="/#/{{ item.searchable_type | lowercase }}/{{ item.searchable_id }}">{{ item.content }}</a>
          </h2>
          <h3>{{ item.searchable_type }}</h3>
          <div class="position-list-item-date">
            <a href="/#/{{ item.searchable_type | lowercase }}/{{ item.searchable_id }}">See Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" ng-hide="vm.authed">
  <div class="show-for-unauth" ng-include="'templates/includes/hidden.tpl.html'"></div>
</div>
