<div class="document-title">
  <div class="container">
    <h1>Profile</h1>
  </div>
</div>

<div class="container">
  <div class="resume">

    <div class="resume-main">
      <div class="resume-main-image">
         <img ng-src="{{ vm.profilePic }}" verify-src>
      </div>
      <div class="resume-main-content">
        <h2>{{ vm.user.first_name }} {{ vm.user.last_name }}</h2>
        <h3>{{ vm.user.company }}</h3>
        <p class="resume-main-contacts">
          Email: <a href="mailto:{{ vm.user.email }}">{{ vm.user.email }}</a>
        </p>
      </div>
    </div>

    <div class="resume-chapter">
      <div class="resume-chapter-inner">
        <div class="resume-chapter-title">
          <h2>Favorites</h2>
        </div>
        <div class="resume-chapter-content">
          <p><i>Soon, you'll be able to save brands or companies to watch.</i></p>
        </div>
      </div>
    </div>

    <div class="resume-chapter">
      <div class="resume-chapter-inner">
        <div class="resume-chapter-title">
          <h2>Edit Email</h2>
        </div>
        <div class="resume-chapter-content">
          <form ng-submit="vm.updateEmail(email)">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="{{ vm.user.email }}" ng-model="email">
            </div>
            <button class="btn btn-secondary">Update</button>
          </form>
        </div>
      </div>
    </div>

    <div class="resume-chapter">
      <div class="resume-chapter-inner">
        <div class="resume-chapter-title">
          <h2>Edit Password</h2>
        </div>
        <form ng-submit="vm.updatePassword(password, password2)">
          <div class="form-group">
            <input class="form-control" type="password" placeholder="Enter New Password" ng-model="password">
            <input class="form-control" type="password" placeholder="Enter New Password Again" ng-model="password2">
          </div>
          <button class="btn btn-secondary">Update</button>
        </form>
      </div>
    </div>

  </div>
</div>
