.newsletter {
    border: 1px solid $color-gray-lighter;
    border-radius: 3px;
    margin: 0px 0px 60px 0px;

    h2 {
        font-weight: 300;
        font-size: 17px;
        margin: 0px 0px 25px 0px;
        padding: 0px;
    }

    form {
        margin: 40px 60px;
    }

    p {
        color: $color-gray;
        font-size: 12px;
        margin-top: 10px;
    }
}
