$color-primary: #626262;
$color-secondary: #ff7200;

$color-black: #363636;
$color-yellow: #ffba00;
$color-green: #8dc63f;
$color-red: #FA2A00;

$color-gray: #999;
$color-gray-medium: #777;
$color-gray-light: #e9e9e9;
$color-gray-lighter: #f7f7f7;

$color-facebook: #365397;
$color-twitter: #00a9f1;
$color-google-plus: #e0452c;
$color-youtube: #ff3333;
$color-vimeo: #48b6ed;
$color-pinterest: #ce1a19;
$color-dribbble: #ed4584;
$color-skype: #00acf4;
$color-instagram: #396d9a;
$color-tumblr: #304c68;
$color-linkedin: #287bbc;
$color-tripadvisor: #589442;
